<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TEST</h1>
    <% profiles.forEach((el) => { %>
        <p><%= el.nickname %></p>
        <p><%= el.picture %></p>
        <p><%= el.balance %></p>
    <% }) %>
</body>
</html>